@font-face {
  font-family: "Khula";
  src: url(../fonts/Khula/Khula-Regular.ttf);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Khula-Bold";
  src: url(../fonts/Khula/Khula-Bold.ttf);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Khula-SemiBold";
  src: url(../fonts/Khula/Khula-SemiBold.ttf);
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #0184c5;
  --main-bg-color: #0184c5;
  --color-body: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khula-Bold", sans-serif;
}
.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
}
body {
  font-size: 16px;
  color: #000;
  font-family: "Khula", sans-serif;
  overflow-x: hidden;
}
button:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
}

img,
.img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}
.text-bold {
  font-family: "Khula-Bold", sans-serif;
}
.text-normal {
  font-family: "Khula", sans-serif;
}
.text-red {
  color: #ff0000;
}
.text-333 {
  color: #333;
}
.color_main {
  color: var(--main-color) !important;
}
.bg-cart {
  background-color: var(--main-bg-color);
}
.cursor-pointer {
  cursor: pointer;
}
.list_style_none {
  list-style: none;
  padding: 0;
  margin: 0;
}
.font-15 {
  font-size: 15px!important;
}
.main_page_order_detail .card {
  margin-bottom: 24px;
}
.main_page_order_detail .header-title {
  font-size: 1rem;
  margin: 0 0 5px 0;
}
.main_page_order_detail .h5, .main_page_order_detail h5 {
  font-size: .9375rem;
}
button.focus_none:focus {
  outline: none;
  box-shadow: none;
}
.font_size_14 {
  font-size: 14px;
}
.font_size_15 {
  font-size: 15px;
}
.font_size_20 {
  font-size: 20px;
}

.semni_bold {
  font-weight: 600;
}
.limit_line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.limit_line_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.limit_line_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.limit_line_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.limit_line_4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
  min-height: 26px;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane {
  min-height: 30px;
}
.empty_cart_header {
  padding: 15px 0;
}

.empty_cart_header .icon {
  text-align: center;
  font-size: 34px;
}
/* css header */
.header_top {
  border-bottom: 1px solid #dbdbdb;
  background-color: #f4f4f4;
  color: #555;
}
.header_top a {
  color: #555;
}
.right_top .btn:focus {
  box-shadow: none;
}
.right_top .dropdown-menu {
  margin-top: 0;
}
.right_top .btn i,
.dropdown-item i {
  position: relative;
  top: 2px;
}

.nav_pc a {
  color: #333333;
}

.cart_box i {
  font-size: 25px;
}
.cart_box {
  background-color: var(--main-bg-color);
  padding: 12px 27px 13px 29px;
  font-weight: bold;
}
.total__cart {
  background-color: #333;
  left: calc(50% + 30px);
  top: 4px;
  transform: translateX(-50%);
  font-size: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  border-radius: 100%;
}
.collapse__item {
  left: 15px;
  width: 200px;
}
.menu__item {
  overflow: hidden;
}

.menu__item:hover {
  overflow: visible;
}

.menu__item:hover > .nav_menu_link {
  cursor: pointer;
}

.home__item_popup {
  background-color: #fff;
  z-index: 1000;
  top: 100%;
  display: none;
  /* transition: all 0.3s linear; */
  animation: keyfram__menu__item 0.3s linear;
  opacity: 0;
  z-index: 9999;
}

#collapse__shop {
  width: 1110px;
  left: -270px;
}

.menu__item:hover .home__item_popup {
  opacity: 1;
  display: block;
}

.collapse__right {
  width: 200px;
  height: auto;
  position: absolute;
  left: 100%;
  background-color: #fff;
  top: 0;

  opacity: 0;
  transition: all ease-out 0.4s;
}

.blog_item:hover .collapse__right {
  opacity: 1;
  transform: translateY(5px);
}

@keyframes keyfram__menu__item {
  0% {
    height: 0px;
    overflow: hidden;
  }
  12% {
    height: 25px;
  }
  25% {
    height: 50px;
  }
  35% {
    height: 70px;
  }
  50% {
    overflow: hidden;
    height: 100px;
  }
  75% {
    overflow: hidden;
    height: 150px;
  }
  100% {
    height: auto;
  }
}

/* hover cart */

.bars__tablet {
  font-size: 1.8rem;
}

.hidden__cart {
  width: 330px;
  max-width: calc(100vw - 20px);
  right: 0;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  background: #fff;
  z-index: 800;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}
.hidden__cart.empty {
  width: 250px;
}
.hidden__cart .cart__title__product__name {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  z-index: 30;
}

.show__cart:hover .hidden__cart {
  opacity: 1;
  border-top: 2px solid rgb(55, 241, 185) !important;
  border: 1px solid rgb(143, 142, 142);
  transform: translateY(0);
  height: auto;
}

#shop__categories {
  z-index: 60;
}

#shop__categories__tablet {
  z-index: 400 !important;
}

.shop__categories__item:hover > .categories__link {
  color: var(--main-color);
}

/* .categories__link > i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.shop__categories__item:hover .fa-angle-down:before {
  content: "\f105";
} */

/* .shop__categories__item:hover .fa-angle-down {
  transform: rotate(-90deg);
  position: relative;
  right: -8px;
  top: 3px;
} */

.shop__categories__item .shop__categories__item__right {
  position: absolute;
  left: 100.7%;
  top: 0;
  z-index: 60;
  width: calc(960px - 240px);
  transition: all 0.4s ease;
  display: none;
  height: auto;
}
.shop__categories__item .categories__link {
  display: flex;
  justify-content: space-between;
}
.categories__item__right {
  background-color: #fff;
  border-top: 2px solid rgb(55, 67, 231);
}

.shop__categories__item:hover .shop__categories__item__right {
  display: block;
}

.shop__categories__item__ul {
  flex: 0 0 240px;
}

.input__search {
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: #666;
}

#list__all__categories {
  top: 100%;
  margin-top: 4px;
  z-index: 50;
  height: 0px;
  overflow-y: scroll;
  background-color: #fff;
  transition: height 0.5s;
  /* animation: showcategories 0.3s ease alternate both; */
}

@keyframes showcategories {
  0% {
    height: 50px;
  }
  25% {
    height: 100px;
  }
  50% {
    height: 150px;
  }
  75% {
    height: 225px;
  }
  100% {
    overflow-y: scroll;
    height: 285px;
  }
}

#list__all__categories a {
  color: black;
}

#list__all__categories::-webkit-scrollbar {
  width: 10px;
  background-color: #e0e0e0;
}

#list__all__categories::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

#label__checkbox__nav {
  position: fixed;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 200;
  transition: all 0.5s linear;
  top: 0;
  visibility: hidden;
  /* display: none; */
  background-color: rgba(199, 199, 199, 0.3);
  bottom: 0;
}

#checkbox__nav:checked ~ #label__checkbox__nav {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

/* nav__tablet */

.nav__tablet {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  box-shadow: 1px 1px 4px 1px rgb(240, 238, 238);
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s linear;
  transform: translateX(100%);
}

#checkbox__nav:checked ~ .nav__tablet {
  transform: translateX(0);
  opacity: 1;
}

.input__search__tablet {
  outline: none;
  /* font-weight: bold; */
  color: #666666;
  background: none;
  font-size: 15px;
  border: none;
}
.search_form_mb {
  background-color: #eee;
}
.btn_search_mb {
  top: 15px;
  right: 20px;
  border: none;
}
.menu_box_mb .nav-item a[aria-expanded="true"] i:before,
.shop__categories__item__a[aria-expanded="true"] i:before {
  content: "\f068";
}
.list-unstyled .shop__categories__item {
  padding-left: 7px;
}
.cat_parent {
  padding: 12px 15px 12px 12px;
}
#shop__categories__tablet li {
  list-style: none;
}
.close_menu {
  left: -34px;
  top: 0;
}
.close_menu i {
  font-size: 1.5rem;
}
#accordion {
  padding-right: 10px;
}

#accordion::-webkit-scrollbar {
  width: 4px;
  background: #f0eeee;
}

#accordion__user {
  padding-right: 10px;
}

#accordion__user::-webkit-scrollbar {
  width: 4px;
  background: #f0eeee;
}

/* * product */
.msg__status {
  background-color: var(--main-color);
  font-size: 13px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  color: #fff;
}

.category__name__product {
  font-size: 13px;
  color: #666666;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
}

.product__img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.text__price {
  color: #666666;
  text-decoration: line-through;
}

.btn__addtocart {
  transition: all 0.3s ease;
  font-size: 14px;
}

.btn__addtocart:hover {
  background-color: var(--main-bg-color);
  color: #fff;
}

.btn__preview {
  position: absolute;
  top: 30%;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0;
  width: 38px;
  height: 38px;
  line-height: 40px;
  border-color: var(--main-bg-color) !important;
}

.wrapper_product_item:hover .btn__preview {
  opacity: 1;
  visibility: visible;
}

.wrapper_product_item:hover .product__img {
  transform: scale(1.1);
}

.btn__preview:hover {
  background: #000;

  color: #fff;
}
.btn__preview:not(.border):hover {
  border: 1px solid #000;
}
.btn__preview.border:hover {
  border: 1px solid #000 !important;
}
.btn__favorite,
.btn__copy {
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.wrapper_product_item:hover .btn__favorite {
  visibility: visible;
  opacity: 1;
}

.wrapper_product_item:hover .btn__copy {
  visibility: visible;
  opacity: 1;
}
.star_box i {
  font-size: 13px;
}
.btn__copy:hover,
.btn__favorite:hover {
  background-color: var(--main-bg-color);
  color: #fff !important;
}

.product .close {
  display: inline-block;
  position: absolute;
  z-index: 30;
  outline: none;
  color: black;
  top: 15px;
  right: 30px;
}

.product .close:hover {
  cursor: pointer;
}

.splide__slide img{
  width: 100%;
  object-fit: contain;
}
.splide__slide img:not(.img_detail_product) {
  height: auto;
}
.splide__track__thumbnail .splide__slide img{
  height: auto;
  max-height: 90px;
}
.splide_modal .splide__slide{
   padding: 15px;
}
.thumbnail_splide_modal img{
  width: 90px;
  height: 90px;
  object-fit: contain;
  object-position: center;
}
.modal-body,
.modal-footer {
  padding: 1.25rem;
}
#modal_product {
  font-size: 15px;
}
.close_modal {
  position: absolute;
  top: calc(1rem + 8px);
  right: calc(1rem + 20px);
  opacity: 1;
  font-size: 1.75rem;
}
.thumbnail_splide .splide__slide.is-active {
  padding: 5px;
  border: 1px solid #007bff;
}
.splide__slide {
  cursor: pointer;
}
.product_title_modal {
  font-size: 20px;
  max-width: calc(100% - 40px);
}

.star__modal {
  font-size: 14px;
}

.price__discount {
  font-size: 18px;
  font-weight: bold;
  color: rgb(218, 54, 54);
}
.price_discount_modal {
  font-size: 23px;
  font-weight: bold;
  color: rgb(218, 54, 54);
}
.text__price__modal {
  font-size: 19px;
  color: #666666;
}

.btn_add_cart {
  border-radius: 0;
  height: 42px;
  transition: ease 0.3s;
}

.btn__addtocart__modal:hover {
  background-color: var(--main-color);
  color: #fff;
}

input.number_product[type="number"]::-webkit-inner-spin-button,
input.number_product[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.number_product[type="number"] {
  -moz-appearance: textfield;
}
.quantity input {
  width: 80px;
  height: 42px;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding-right: 30px;
  padding-left: 5px;
}

.quantity input:focus {
  outline: 0;
}

.quantity-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  height: 50%;
  width: 25px;
  text-align: center;
  color: #333;
  font-size: 13px;
  line-height: 25px;
  padding: 0;
  background-color: #fff;
}
.quantity-button:hover,
.quantity-button:focus {
  background-color: #efefef;
  outline: none;
}
.quantity-button.up {
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 1.6;
}

.quantity-button.down {
  bottom: 0;
}
.share__icon {
  border: 1px solid #666666;
  border-radius: 50%;
  color: #666666;
  transition: all 0.3s ease;
  width: 37px;
  display: block;
  height: 37px;
  line-height: 40px;
  text-align: center;
}
.share__icon:hover {
  color: #fff;
}
.share__icon.facebook:hover,
.list_social li a.facebook:hover i {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}
.share__icon.twitter:hover,
.list_social li a.twitter:hover i {
  background-color: #55acee;
  border: 1px solid #55acee;
}
.share__icon.youtube:hover,
.list_social li a.youtube:hover i {
  background-color: #cd201f;
  border: 1px solid #cd201f;
}
.share__icon.google:hover,
.list_social li a.google:hover i {
  background-color: #dc4e41;
  border: 1px solid #dc4e41;
}
.share__icon.instagram:hover,
.list_social li a.instagram:hover i {
  border: 1px solid transparent;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.product .nav-link:hover {
  font-weight: bold !important;
}

.product .nav-tabs .nav-link {
  font-size: 19px;
  color: #333333;
  transition: all 0.3s ease;
  border: none;
  margin-right: 15px;
  font-weight: 400;
}

.product .nav-tabs .nav-link.active {
  border: none;
  font-weight: bold;
}

.splide__pagination {
  position: absolute;
  top: -50px;
  right: 0px;
}

.splide__pagination li {
  display: flex;
  align-items: center;
}

.splide__pagination__page {
  height: 10px;
  padding: 0px;
  outline: none;
  transition: all 0.3s ease;
  border-radius: 50%;
  border: 1px solid #0184c5;
  background: #ffffff;
  width: 10px;
  margin-left: 5px;
}

.splide__pagination__page:hover {
  background: #0184c5;
}

.splide__pagination__page.is-active {
  display: inline-block;
  width: 22px !important;
  height: 8px !important;
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 5px !important;
}

.banner_daily_deals .fa-history {
  font-size: 1.6rem;
  color: #fff;
}

.banner_daily_deals_left {
  position: relative;
  background-color: var(--main-color);
}

.banner_daily_deals_left::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-top: 64px solid var(--main-color);
  border-right: 22px solid #ebebeb;
}

.banner_daily_deals_left span {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-left: 7px;
}

.banner_daily_deals .banner_daily_deals_right {
  background: #ebebeb;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 155px;
}
.banner_daily_deals {
  margin-bottom: 30px;
}

.slide_discount .new__product__msg {
  background-color: var(--main-color);
  font-size: 13px;
  color: #fff;
  /*top: 0;*/
  /*left: 15px;*/
  /*position: absolute;*/
}

.slide_discount .slide_discount__title {
  color: #0184c5;
}

.slide_discount .box__countdown {
  background-color: #f4f4f4;
  color: black;
  width: 60px;
  border: 1px solid #e5e5e5;
}

.slide_discount .countdown__number {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.slide_discount .time__info {
  font-size: 14px;
  color: #666666;
}

.slide_discount .category_name {
  color: #666666;
  margin-top: 40px;
  text-transform: uppercase;
}

.slide_discount .product__name {
  font-size: 16px;
}
.slide_discount .product__name a {
  display: block;
}
.slide_discount_item {
  margin-bottom: 60px;
}
.wrapper_product_item .product__name {
  font-size: 18px;
}
.product_style_mall .product__name {
  font-size: 16px;
  font-weight: 600;
  font-family: "Khula", sans-serif;
}
.wrapper_product_item .category_name {
  margin-bottom: 10px;
}
.wrapper_product_item .product__item {
  padding-left: 20px;
  padding-right: 20px;
}
.slide_discount .text__price {
  font-size: 14px;
  color: #666666;
  text-decoration: line-through;
}

.slide_discount .price__discount {
  font-size: 23px;
  font-weight: bold;
  color: rgb(218, 54, 54);
}
.price_product .price__discount {
  font-size: 16px;
}
.slide_discount__description {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
}

.slide_discount .slide__content__countdown {
  margin-right: -1px !important;
}

.splide__pagination {
  z-index: 70;
}

.slide_discount .splide__pagination {
  right: 15px;
}
.headphone_box {
  position: relative;
  padding-bottom: 80px;
  padding-top: 80px;
  /*background: url(../images/banner/1-9.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
}

.title__headphone {
  font-size: 70px;
  margin-top: 10px;
  font-weight: bold;
  color: black;
  line-height: 75px;
  margin-bottom: 0;
  font-family: "Khula-Bold", sans-serif;
  text-transform: uppercase;
}

.headphone_content span {
  font-weight: 600;
  text-transform: uppercase;
}
.headphone_content {
  width: 50%;
  margin-left: 50%;
}
.border_left_main {
  color: var(--main-color);
  position: relative;
  padding-left: 70px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
.border_left_main::before {
  content: "";
  background-color: var(--main-bg-color);
  height: 3px;
  width: 60px;
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
}
.headphone__content {
  font-size: 15px;
}
.shop_now_headphone {
  font-weight: bold;
  background-color: var(--main-bg-color);
  color: #fff;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  width: 155px;
  display: block;
  margin-top: 25px;
  border-radius: 5px;
  text-align: center;
  transition: ease 0.3s;
}
.shop_now_headphone:hover {
  background-color: #393939;
  color: #fff;
}
/* * banner 1 */
.banner__item {
  transition: all 0.5s ease-in;
  z-index: 999;
}
.banner__item a {
  width: 100%;
}
.bg__hover__bottom {
  position: absolute;
  bottom: 0;
  animation: bgBottom 2s ease-out;
  right: 0;
  display: none;
  z-index: 1000;
}

.bg__hover__top {
  position: absolute;
  top: 0;
  animation: bgTop 2s ease-out;
  left: 0;
  display: none;
  opacity: 0;
  z-index: 1000;
  transition: all 1s ease;
}

@keyframes bgBottom {
  0% {
    width: 0px;
    height: 0px;
  }
  30% {
    width: 90%;
    opacity: 0.5;
    height: 90%;
    background-color: rgba(253, 242, 242, 0.3);
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bgTop {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  30% {
    width: 90%;
    opacity: 0.5;
    height: 90%;
    background-color: rgba(253, 242, 242, 0.3);
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.05;
  }
  95% {
    opacity: 0.02;
  }
  100% {
    opacity: 0;
  }
}

.banner__item {
  z-index: 300;
}

.banner__item:hover .bg__hover__bottom {
  display: block;
}

.banner__item:hover .bg__hover__top {
  display: block;
}

.support__item {
  transition: all 0.3s ease;
}

.support__col:hover .support__item {
  background: #fffcfc !important;
}
.tab_box_trending.product_list .nav-tabs .nav-link {
  text-transform: capitalize;
}
.tab_list_trending {
  width: calc(100% - 110px);
}
.grid_product_title {
  font-weight: bold;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
}
.slide__brand .splide__slide:hover img {
  transition: ease-in-out 0.7s;
}
.slide__brand .splide__slide:hover img {
  transform: scale(1.1);
}
#slide__brand .brand__item {
  width: 150px;
  height: auto;
}
.sale_up_content {
  max-width: 490px;
}
.sale_up {
  padding-bottom: 70px;
  padding-top: 70px;
  /*background: url("../images/banner/1-12.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 491px;
}
.sale_up > .container-fluid {
  max-width: 1660px;
}
.percent_off,
.wireless_fetures {
  color: #fff;
  font-size: 70px;
  line-height: 78px;
  margin-bottom: 0;
}
.wireless_fetures {
  font-family: "Khula-Bold", sans-serif;
}
.subcribe_box {
  height: 367px;
  padding-bottom: 60px;
  padding-top: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1140px;
  margin: 0 auto;
}
.subscribe {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}
.subscribe__title_1 {
  font-size: 48px;
  margin-bottom: 0;
  color: #808080;
  text-transform: uppercase;
}

.subscribe__title_2 {
  font-family: "Khula-Bold", sans-serif;
  font-size: 42px;
  margin-bottom: 0;
  color: #000;
}

.subscribe_intro {
  color: #444;
  margin-bottom: 25px;
}

.input__subcribe {
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 2px #ddd9d9;
  width: 100%;
  padding: 10px 25px;
  background-color: #fff;
  font-weight: bold;
  color: #666666;
}

.btn__subscribe {
  right: 20px;
  top: 26px;
  transform: translateY(-50%);
  border: none;
  position: absolute;
  outline: none;
  background: transparent;
  font-size: 1.4rem;
  height: 100%;
  line-height: 1.4rem;
}
.btn__subscribe:hover i,
.btn__subscribe:focus i {
  color: var(--main-color);
}
/* item */
.support__item {
  background-color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 30px;
}
.support__item i {
  font-size: 1.75rem;
  color: var(--main-color);
}
.support__item .title {
  font-size: 18px;
}
.support__item .intro {
  font-size: 15px;
}
.slider_item {
  display: flex;
  flex-wrap: wrap;
}
.slider_item .item {
  width: 100%;
}
.wrapper_product_item {
  margin-bottom: 30px;
}
.product_style .owl-dots {
  position: absolute;
  top: -70px;
  right: 0;
}
.product_style.product_style_mall .owl-dots {
  position: absolute;
  top: -50px;
  right: 0;
}
.product_style .owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  z-index: 99999;
  border-radius: 100%;
  margin-bottom: 7px;
  margin-right: 5px;
  outline: none;
  border-radius: 10px;
  transition: ease 0.5s;
}
.product_style .owl-dots button.owl-dot.active {
  background-color: var(--main-bg-color);
  width: 25px;
}
.slide_discount.product_style .owl-dots {
  top: -80px;
  right: 13px;
}
.product_list .nav-tabs .nav-link {
  font-size: 20px;
  color: #333333;
  transition: all 0.3s ease;
  border: none;
  margin-right: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.product_list .nav-tabs .nav-link.active {
  border: none;
  font-family: "Khula-Bold", sans-serif;
  background-color: unset;
}
.product_list .nav-tabs .nav-link:hover {
  border: none;
  font-family: "Khula-Bold", sans-serif;
}
.tab_list {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
/* css */
.header_cat_box {
  background-color: #333;
}

.shop_cat {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 15px 15px 18px;
  width: 100%;
  max-width: 254px;
  text-align: left;
}

.shop_cat:hover,
.shop_cat:focus {
  color: #fff;
  box-shadow: none;
}
.shop_cat i {
  font-size: 16px;
}
.category_box .dropdown-menu {
  border-radius: 0;
  margin-top: -1px;
  width: 100%;
}
.i_phone {
  color: var(--main-color);
  font-size: 24px;
}
.select_cat_box {
  height: 100%;
  padding-left: 20px;
}
.select_cat {
  font-size: 14px;
  color: #666;
  border: none;
  opacity: 0;
  border: none;
  outline: none;
}

.select_cat_box .select2-container,
.select2-container {
  font-size: 14px;
  outline: none;
}
.select_cat_box .select2-container--default .select2-selection--single {
  border: none;
}

.btn__search {
  border: none;
  position: absolute;
  right: 0;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}
.btn__search:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.btn__search i {
  position: relative;
  top: 3px;
}
.owl-carousel .owl-item.active .slider_content_1 {
  font-size: 14px;
  animation: slideDownToUp 0.3s ease-in-out;
}
.owl-carousel .owl-item.active .slider_content_2 {
  font-size: 80px;
  line-height: 90px;
  margin-top: 10px;
  animation: slideDownToUp 0.5s ease-in-out;
  font-family: "Khula-Bold", sans-serif;
}
.owl-carousel .owl-item.active .slider_content_3 {
  font-size: 45px;
  line-height: 55px;
  animation: slideDownToUp 0.7s ease-in-out;
}
.owl-carousel .owl-item.active .slider_content_4 {
  font-size: 22px;
  animation: slideDownToUp 0.9s ease-in-out;
}
.slider_content_box {
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.slider_content {
  max-width: 600px;
  text-align: center;
}
@keyframes slideDownToUp {
  0% {
    transform: translateY(150px);
    font-size: 1px;
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: scale(1);
  }
}
.shop_now {
  font-weight: bold;
  background-color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  width: 155px;
  display: block;
  margin: 15px auto 0;
  border-radius: 5px;
  transition: ease 0.5s;
}
.shop_now:hover {
  background-color: var(--main-bg-color);
  color: #fff;
}
.jorbaria_slider .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
}
.jorbaria_slider .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  color: #fff;
  z-index: 99999;
  border-radius: 100%;
  margin-bottom: 7px;
  margin-right: 5px;
  outline: none;
}
.jorbaria_slider .owl-dots button.owl-dot.active {
  background-color: #fff;
}
/* footer */
#footer {
  background-color: #222222;
  color: #898989;
  font-size: 15px;
}
#footer a {
  color: #898989;
}
.list_social li {
  margin-right: 15px;
  margin-bottom: 10px;
}
.list_social li i {
  width: 40px;
  height: 40px;
  background-color: #393939;
  border: 1px solid #393939;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  transition: all 0.5s ease;
}
.list_social li a:hover i {
  background-color: #292929;
}
.coppyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #333;
}
.footer_main {
  padding-bottom: 55px;
  padding-top: 60px;
}
.logo_footer {
  margin-bottom: 22px;
}
.logo_footer img {
  max-width: 226px;
}
.border_bot_main {
  position: relative;
  margin-bottom: 52px;
}
.border_bot_main:after {
  content: "";
  background-color: var(--main-bg-color);
  height: 2px;
  width: 50px;
  position: absolute;
  left: 0;
  top: calc(100% + 24px);
  transform: translateY(-50%);
}
.list_item_col .nav-item {
  margin-bottom: 13px;
}
.list_item_col .nav-item a {
  transition: all ease-in-out 0.5s;
}
.list_item_col .nav-item a:hover {
  padding-left: 12px;
  color: var(--main-color) !important;
}
.banner_footer {
  margin-bottom: 32px;
}
.title_col {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 48px;
}
.select_box .select2-results__options a {
  color: black;
}

.select2-results__options::-webkit-scrollbar {
  width: 10px;
  background-color: #e0e0e0;
}

.select2-results__options::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.select2-container--open .select_box.select2-dropdown {
  min-width: 190px;
  top: calc(100% + 12px);
  border-radius: 0;
}
.select2-container--default .select2-results__option--selected {
  background-color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #eee;
  color: #000;
}
.select_box .select2-results__option {
  padding: 9px 13px;
}
.select2-search--dropdown .select2-search__field {
  outline: none;
}
.shop_cat_mb {
  background-color: var(--main-bg-color);
  font-size: 13px;
  padding: 15px 16px 15px 20px;
  font-weight: 600;
}
.shop_cat_mb .fa-angle-down {
  font-size: 18px;
}
.accordion__categories__box {
  top: 100%;
  font-size: 14px;
}
.backTop {
  display: none;
  background-color: var(--main-bg-color);
  color: #fff !important;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  position: fixed;
  text-transform: uppercase;
  z-index: 999;
  transition: ease 0.5s;
}
.backTop:hover {
  color: #fff !important;
  background-color: #222;
}

/* Page List css */
.wrap_img_product {
  text-align: center;
}
.title_card {
  font-size: 16px;
  font-family: "Khula", sans-serif;
  padding: 7px 17px 7px 0;
  cursor: pointer;
}
.title_card[aria-expanded="true"] .fa::before {
  content: "\f068";
}
.title_card .fa {
  position: absolute;
  right: 0;
  font-size: 12px;
  top: 11px;
}
.card_body .list_item {
  padding-left: 15px;
}
.card_body .list_item .item {
  padding: 5px 0;
}
.filter_by {
  font-size: 1.5rem;
  font-family: "Khula-Bold", sans-serif;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.cat_title {
  font-size: 1.5rem;
}
.clear_all {
  background-color: #333;
  color: #fff;
  border-radius: 0;
  width: 120px;
  height: 39px;
  line-height: 40px;
  border: 1px solid;
  padding: 0;
  transition: ease 0.5s;
}
.clear_all:hover {
  background-color: #fff;
  color: #000;
}
.clear_all i {
  font-size: 14px;
}
.title_filter_box {
  font-family: "Khula-Bold", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.list_filter {
  margin-top: 25px;
}
.list_fil li input {
  margin-right: 10px;
  width: 13px;
  height: 13px;
}
.list_fil li label {
  margin-bottom: 0;
  line-height: 18px;
  cursor: pointer;
}
.list_fil li {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.top_list_product {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.pills-tab .nav-item {
  margin-right: 10px;
}
.pills-tab .nav-link {
  color: #e5e5e5;
  border: 1px solid;
  padding: 0;
  height: 30px;
  width: 40px;
  text-align: center;
  line-height: 35px;
}
.pills-tab .nav-link.active,
.pills-tab .nav-link:hover {
  background-color: var(--main-bg-color);
  color: #fff;
  border: 1px solid var(--main-bg-color);
}
.pills-tab .nav-link i {
  font-size: 15px;
}
.select_sort_box {
  min-width: 200px;
}
.select_sort_box .select2-container .select2-selection--single {
  height: 30px;
}
.select_sort_box .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #222;
  line-height: 30px;
}
.recommened_box {
  margin-top: 25px;
}
.product_style_mall .item_child {
  padding-bottom: 15px;
  padding-top: 15px;
}
.per_page {
  width: 70px;
}
.lh_30 {
  line-height: 30px;
}

.page-item .page-link {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  background-color: #a8a8a8;
  border-color: #a8a8a8;
  color: #fff;
  transition: ease 0.5s;
}
.page-item .page-link:focus {
  outline: none;
  box-shadow: none;
}
.page-item .page-link:hover,
.page-item.active .page-link {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
}
.page-item.disabled .page-link {
  background-color: #a8a8a8;
  border-color: #a8a8a8;
  color: #fff;
}
.page-link i {
  font-size: 14px;
}
.product_list {
  margin-bottom: 45px;
}

.per_page_css .select2-results__option,
.per_page .select2-selection__rendered {
  text-align: center;
}
.select_sort_css .select2-results__option {
  text-align: right;
}
.select2-container--default .per_page_css .select2-results__option--selected,
.select2-container--default .select_sort_css .select2-results__option--selected {
  background-color: #fff;
  font-weight: bold;
}
.select2-container--default .per_page_css .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select_sort_css .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #eee;
  color: #000;
}
.nav_breadcrumb .breadcrumb {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.breadcrumb-item.active {
  color: var(--main-color);
}

/* .breadcrumb-item + .breadcrumb-item:before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
} */
.pills-grid .btn__favorite,
.pills-grid .btn__copy,
.pills-grid .btn__addtocart {
  visibility: visible;
  color: var(--main-color);
  border: 1px solid;
  opacity: 1;
}
.pills-grid .btn__addtocart:hover {
  color: #fff;
}
.wrap_img_product:hover .btn__preview {
  opacity: 1;
  visibility: visible;
}
.wrap_img_product .btn__preview {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: none;
}
.grid_product_tab .item_grid {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding-bottom: 18px;
}
.grid_product_tab .item_grid:last-child {
  border-bottom: none;
}
.item_grid .product__name {
  font-size: 18px;
}
.grid_product_tab {
  margin-bottom: 30px;
}
/* page details */
.product_size_box {
  width: 60px;
}
.product_size_box .select2-container .select2-selection--single {
  height: 42px;
}
.product_size_box .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  line-height: 42px;
  text-align: center;
}
.product_size_box .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}
.input_color {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
}
.bg_input_color {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  margin: 0.3125rem;
  box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 20%);
}
.bg_color_white {
  background-color: #fff;
}
.bg_color_red {
  background-color: #ea3a3c;
}
.bg_color_blue {
  background-color: var(--main-bg-color);
}
.input_color:checked + span,
.input_color:hover + span,
.input_radio:checked + span,
.input_radio:hover + span {
  border: 2px solid #333;
}
.share_details_box {
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
}
.reassurance_nav .fas {
  font-size: 1.2rem;
  padding-right: 15px;
}
.reassurance_nav .nav-item {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #d9d9d9;
}
.reassurance_nav .nav-item:last-child {
  border-bottom: none;
}
.hightlights_list {
  color: #333;
}
.hightlights_list li {
  padding-top: 4px;
  padding-bottom: 4px;
}
.product_list .nav-tabs .nav-link {
  font-size: 20px;
  color: #333333;
  transition: all 0.3s ease;
  border: none;
  margin-right: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.tab_list_detail.nav-tabs .nav-link.active {
  border: none;
  font-family: "Khula-Bold", sans-serif;
  background-color: unset;
}
.tab_list_detail.nav-tabs .nav-link:hover {
  border: none;
  font-family: "Khula-Bold", sans-serif;
}
.tab_list_detail.nav-tabs .nav-link {
  font-size: 20px;
  color: #333333;
  transition: all 0.3s ease;
  border: none;
  margin-right: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
.btn_black {
  border: 1px solid #000;
  border-radius: 0;
  color: #fff;
  background-color: #000;
  padding: 7px 15px;
}
.btn_black:hover {
  background-color: #fff;
  color: #000;
}
.btn_semi_black {
  border: 1px solid #333;
  color: #fff;
  background-color: #333;
  padding: 7px 15px;
  border-radius: 3px;
}
.btn_semi_black:hover {
  background-color: #fff;
  color: #333;
}
#review_modal .product img {
  border: 1px solid #ebebeb;
}
#review_modal .title {
  padding: 10px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  background: #333333;
}
.other_products {
  margin-top: 45px;
}
.other_products h2.title {
  font-size: 22px;
  padding: 0.5rem 1rem 0.5rem 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.splide__arrow {
  border: none;
  position: absolute;
  font-size: 1.5rem;
  z-index: 30;
  background: none;
  outline: none;
  top: 50%;
  transition: all 0.3s ease;
  color: #ddd;
  opacity: 0;
  transform: translateY(-50%);
}
.splide__arrow--prev {
  left: 15px;
}
.splide__arrow--next {
  right: 15px;
}
.splide_detail:hover .splide__arrow,
.splide_detail:hover .zoom__plus {
  opacity: 1;
}

.zoom__plus:focus {
  outline: none;
}

.zoom__plus {
  position: absolute;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 40;
  background: none;
  outline: none;
}

.zoom__plus i {
  font-size: 3rem;
  color: var(--main-color);
}
/* page cart */
.cart_table td {
  vertical-align: middle;
}
.table.cart_table thead th {
  border-bottom: 1px solid #dee2e6;
  min-width: 100px;
  white-space: nowrap;
}
.coupon_input {
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  outline: none;
  padding: 8px 10px;
  height: 40px;
  width: 120px;
}
.cart_table_box {
  overflow-x: auto;
  margin-bottom: 30px;
}
.main_page_cart {
  padding-top: 60px;
  padding-bottom: 60px;
}
.cart_total_details {
  max-width: 445px;
  border: 1px solid #e5e5e5;
}
.cart_total_details .card_block {
  padding: 10px 30px;
}
.cart_total_details hr {
  margin: 0;
}
.btn_proceed_checkout {
  margin-top: 30px;
  border-radius: 0;
}
.intro_promotion div {
  max-width: 500px;
}
.remaining_totals_box, .cart_promotion {
  display: none;
}
.title_block {
  font-size: 24px;
  margin-top: 30px;
}
.img_product {
  max-width: 70px;
}
/* .remaining_totals_box.show {
  display: block;
} */
/* page checkout */
.card_checkout .card_header {
  background-color: #f4f4f4;
  padding: 15px 22px;
  border-top: 3px solid var(--main-color);
}
.card_checkout .card_header h5 {
  font-size: 16px;
}
.card_checkout {
  margin-bottom: 30px;
}
.log_in_form {
  max-width: 620px;
}
.input_box {
  max-width: 450px;
}
.btn_login {
  min-width: 100px;
}
.cart-body-login {
  margin-top: 30px;
  border: 1px solid #e5e5e5;
}
.card-body .btn_semi_black {
  border-radius: 0;
}
.country_group .select2-container .select2-selection--single {
  height: 38px;
}
.country_group .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #222;
  line-height: 38px;
}
.country_group .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}
.billing_order_form h2.title {
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.6rem;
  color: #333;
  padding-bottom: 5px;
}
.main_page_checkout .form-group {
  margin-bottom: 1.5rem;
}
.infor_order_box {
  background-color: #f4f4f4;
}
.infor_order_box {
  background-color: #f4f4f4;
  padding: 25px 40px 30px 35px;
}
.infor_order_box .table td,
.infor_order_box .table th {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #222;
}
.infor_order_box .table tr:first-child td {
  padding: 1rem 0.5rem;
  border-top: none;
}
.order_total {
  font-size: 20px;
}
.btn_place_order {
  border: 1px solid #333;
  border-radius: 0;
  color: #fff;
  background-color: #333;
  padding: 10px 15px;
  font-size: 18px;
  width: 100%;
}
.btn_place_order:hover {
  color: #fff;
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
}
.defferent_address_block,
.hidden_tr {
  display: none;
}
.country_group label span {
  color: var(--main-color);
  font-size: 24px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\ea2d";
  font-family: boxicons !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  top: 3px;
  position: relative;
}
.load_page {
  bottom: 0;
  z-index: 50;
  left: 0;
  background: rgb(141, 9, 9);
  width: 0px;
  height: 2px;
  animation: countdownSlide 5s ease-in-out infinite;
}
.header {
  position: relative;
}
@keyframes countdownSlide {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .sale_up {
    background-position: center;
  }
}
@media (min-width: 992px) {
  /* list page */
  #modal_filter_form {
    display: block;
    position: relative;
    opacity: 1;
    z-index: 1;
  }
  #modal_filter_form .close_modal {
    display: none;
  }
}
@media (max-width: 1199px) {
  .menu__item > a {
    padding: 0.5rem 0.75rem;
  }
  #collapse__shop {
    width: 930px;
    left: -225px;
  }
  .sale_up {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .percent_off,
  .wireless_fetures {
    font-size: 68px;
    line-height: 75px;
  }
}
@media (max-width: 1024px) {
  .slider_content {
    margin-left: auto;
    margin-right: auto;
  }
  .banner_daily_deals_left span {
    font-size: 30px;
  }
  .banner_daily_deals_left::before {
    border-top: 60px solid var(--main-color);
  }
  .grid_product_tab .item_grid {
    padding-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .wrapper_product_item:hover .btn__preview {
    opacity: 0;
  }
  .jorbaria_slider .slider_item {
    height: 475px;
  }
  .jorbaria_slider .slider_item img {
    object-fit: cover;
  }

  .banner_daily_deals_left span {
    font-size: 18px;
  }
  .banner_daily_deals .fa-history {
    font-size: 1rem;
  }
  .banner_daily_deals_left::before {
    border-top: 42px solid var(--main-color);
  }
  .banner_daily_deals .banner_daily_deals_right {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 90px;
  }
  .slide_discount.product_style .owl-dots {
    top: -68px;
    right: 0px;
  }
  .title__headphone {
    font-size: 42px;
    line-height: 52px;
  }
  .headphone_box {
    padding-bottom: 55px;
    padding-top: 55px;
    background-position: center center;
  }
  .product_list .nav-tabs .nav-link {
    font-size: 18px;
  }
  .tab_box_trending.product_list .nav-tabs .nav-link {
    margin-right: 5px;
  }
  .tab_list_trending {
    width: calc(100% - 70px);
  }
  .product_style .owl-dots {
    top: -67px;
  }
  .percent_off,
  .wireless_fetures {
    font-size: 50px;
    line-height: 60px;
  }
  .sale_up_content .shop_now_headphone {
    margin-top: 5px;
  }
  .sale_up {
    padding-bottom: 90px;
    padding-top: 90px;
  }
  .wireless_fetures {
    display: inline;
  }
  /* page list */

  .filter_btn_mb {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    -ms-flex-align: space-between;
  }
  .btn_open_filter_modal {
    background-color: #000;
    color: #fff;
    margin-right: 20px;
    padding: 7px 20px;
    border-radius: 0;
  }
  #modal_filter_form {
    background-color: #fff;
    padding: 25px 20px;
  }
  #modal_filter_form .close_modal {
    top: 20px;
    right: 20px;
  }
  .cart_table td {
    white-space: nowrap;
  }
  .cart_table .product_name_td {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 280px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 767px) {
  .shop_cat_mb {
    padding-left: 15px;
  }
  .backTop {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  .header_main {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .box_right_header_mb {
    position: absolute;
    top: 30px;
    right: 0;
  }
  .shop_cat_box_mb {
    margin-top: 40px;
  }
  .jorbaria_slider .slider_item {
    height: 430px;
  }
  .bars__tablet {
    margin-top: 10px;
  }
  .slider_content_2 {
    font-size: 42px;
    line-height: 52px;
  }
  .slider_content_3 {
    font-size: 20px;
    line-height: 28px;
  }
  .shop_now {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    width: 140px;
    margin: 5px auto 0;
    border-radius: 3px;
  }

  .tab_box .tab_list > li {
    width: 100%;
    text-align: center;
  }
  .banner_daily_deals_left::before {
    content: none;
  }
  .banner_daily_deals .banner_daily_deals_right {
    padding: 6px 8px;
  }
  .slide_discount.product_style .owl-dots,
  .product_style .owl-dots {
    display: none;
  }
  .headphone_content {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .title__headphone {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 12px;
  }
  .border_left_main {
    padding-left: 0;
  }
  .border_left_main::before {
    content: none;
  }

  .tab_list_trending {
    width: 100%;
  }
  .tab_box_trending.product_list .nav-tabs .nav-item:first-child .nav-link {
    font-size: 21px;
    margin-right: 5px;
  }
  .tab_box_trending.product_list .nav-tabs .nav-link {
    margin-right: 0;
  }
  .sale_up_content {
    text-align: center;
  }
  .percent_off,
  .wireless_fetures {
    font-size: 28px;
    line-height: 35px;
  }
  .shop_now_headphone {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    width: 140px;
    margin: 5px auto 0;
    border-radius: 3px;
  }
  .subscribe {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer_main {
    padding-bottom: 40px;
    padding-top: 55px;
  }
  .filter_btn_mb .sort_box {
    margin-top: 20px;
  }
  .tab_list_detail.nav-tabs .nav-item {
    width: 100%;
    text-align: center;
  }
  .tab_list_detail.tab_list {
    padding-bottom: 10px;
  }
  .main_page_cart {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .billing_order_form h2.title {
    font-size: 1.25rem;
  }
  .grid_product_tab .item_grid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper_product_item .product__item {
    border-right: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .box_right_header_mb {
    right: calc((100vw - 540px) / 2);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .infor_order_box {
    padding: 25px 20px 30px 15px;
  }
}

@media (max-width: 480px) {
  .shop_cat_box_mb {
    margin-top: 55px;
  }
  #logo .logo {
    padding-right: 0;
  }
  .infor_order_box .table tr:first-child td:first-child {
    width: 65% !important;
  }
  .infor_order_box .table tr:first-child td:nth-child(2) {
    width: 35% !important;
  }
  .infor_order_box {
    padding: 25px 15px 30px 10px;
  }
  .select_sort_box {
    min-width: 180px;
  }
}
@media (max-width: 404px) {
  .select_sort_box {
    min-width: 150px;
  }
}
@media (max-width: 360px) {
  .cart_box {
    padding: 12px 20px 10px 22px;
  }
  .box_right_header_mb {
    padding-left: 10px;
    top: 25px;
  }
  .header_main {
    padding-top: 45px;
    padding-bottom: 25px;
  }
  .col_logo {
    padding-right: 0;
  }
  .shop_cat_box_mb {
    margin-top: 45px;
  }
}
@media (max-width: 320px) {
  .cart_box i {
    font-size: 20px;
  }
  .cart_box {
    padding: 12px 15px 10px;
    font-size: 13px;
  }
  .total__cart {
    left: calc(50% + 21px);
    font-size: 12px;
    width: 21px;
    height: 21px;
    line-height: 22px;
  }
  .bars__tablet {
    font-size: 1.5rem;
  }
}

.wrapper__poduct__image{
  position: relative;
  top: 40px;
  padding: 30px;
}
.slider_item .category_name{
  margin-top: 30px;
}

.owl-stage{
  display: flex;
}

.dropdown-menu {
  padding: 0 !important;
}

.grid_product  img{
  padding: 15px;
}

.product_cart_header > ul {
  max-height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
}

.criterions_list .fa-star{
  color: rgb(144, 144, 144);
}
.search-product-list{
  background: white;
  z-index: 2000;
  position: absolute;
  top: 100%;
}

.search-product{
  background-color: #fafafa;
}
.text-product-search{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 12px !important;
  color: #2b2b2b !important;
  -webkit-box-orient: vertical;
}
.img-search-product{
  width: 55px;
  height: 55px;
  object-fit: contain;
  object-position: center;
}

.class__favorite{
  background-color: #0184c5;
  color: #fff !important;
}

.btn__favorites__page{
  color: #0184c5;;
}

.favorites_product td{
   vertical-align: middle;
}
.badge-soft-warning {
  color: #f7b84b;
  background-color: rgba(247,184,75,.18);
  box-shadow: none;
}
.grid_product_tab .item_grid .description p{
  margin-bottom: 10px;
}