RewriteEngine On

#http://localhost/phu-kien_dong-ho/dong-ho-thoi-trang/dong-ho-nam/g-shock-51.3-mm-nam-gba-900-1adr%7C4
#http://localhost/index.php?module=default&controller=product&action=detail&id=4 ([a-z0-9_-]*)_([0-9]+)

RewriteRule ^index.html$ 			index.php?module=default&controller=index&action=index
RewriteRule ^login.html$ 			index.php?module=default&controller=login&action=login
#RewriteRule login-redirect          index.php?module=default&controller=login&action=login [QSA]
RewriteRule ^logout.html$			index.php?module=default&controller=login&action=logout
RewriteRule ^forgot.html$			index.php?module=default&controller=login&action=forgot
RewriteRule ^sign-up.html$ 			index.php?module=default&controller=user&action=signup
RewriteRule ^my-account.html$ 			index.php?module=default&controller=user&action=dashboard
RewriteRule ^my-information$ 			index.php?module=default&controller=user&action=form
RewriteRule ^order-history$			index.php?module=default&controller=user&action=order
RewriteRule ^review-history$ 			index.php?module=default&controller=user&action=review
RewriteRule ^my-wishlists$ 			index.php?module=default&controller=user&action=wishlist
RewriteRule ^cart.html$			    index.php?module=default&controller=order&action=cart
RewriteRule ^checkout$			    index.php?module=default&controller=order&action=checkout
RewriteRule ^success$			    index.php?module=default&controller=order&action=success
RewriteRule ^product/(.+)-([0-9]+).html$     index.php?module=default&controller=product&action=detail&slug=$1&id=$2
