 .splide__slide img {
     width: 100%;
 }
 
 #thumbnail-slider .splide__slide {
     padding: 4px;
     margin: 0 7px;
     opacity: 0.5;
 }
 
 #thumbnail-slider .splide__slide img {
     background-color: #f1f5f7;
     display: block !important;
 }
 
 #thumbnail-slider .splide__slide.is-active {
     opacity: 1;
 }


 .table-data td{
     vertical-align: middle;
     white-space: normal !important;
 }

 .activeStatus, .activeAdmin{
     background: #d6f3ed;
     color: #1ac8ce;
     font-size: 11px;
     font-weight: bold;
     border-radius: 10px;
     padding-bottom: 3px;
     padding-left: 4px;
     cursor: pointer;
     padding-right: 4px;
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
 }

 .deactive{
     cursor: pointer;
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
     background: #fce0e4;
     color: #f58c75;
     font-size: 11px;
     font-weight: bold;
     border-radius: 10px;
     padding-bottom: 3px;
     padding-left: 4px;
     padding-right: 4px;
 }

 .img__table{
     width: 60px;
     height: 80px;
     object-fit: contain;
 }
 .img__table__slide{
     object-fit: scale-down;
     object-position: center;
     width: 200px;
     height: 150px;
 }
 .btnMove, .btnMove-category{
     border-radius: 50%;
     border: none;
     padding-top: 3px;
     font-size: 25px;
     padding-left: 7px;
     color: #2ea8e5;
 }
 .btnMove-category:hover{
     cursor: pointer;
 }
 .btnMove:hover{
     cursor: pointer;
 }
 .btnMove:focus{
     outline: 1px solid #1abc9c  ;
 }
 .cursor_label label{
     cursor: pointer;
 }
.cursor{
    cursor: pointer;
}
.img_product{
    width: 120px;
    height: 120px;
}
 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* Firefox */
 input[type=number] {
     -moz-appearance: textfield;
 }
 .nav-tabs-detail .nav-item {
     min-width: 150px;
     text-align: center;
 }
 .product_images .nav-item {
     width: 120px;
     margin-right: 20px;
     margin-bottom: 20px;
 }
 .nav-user img{
     object-fit: cover;
     object-position: center;
 }
 .img__table__slide{
     width: 200px;
 }
 .remove_img {
     position: absolute;
     right: 5px;
     top: 5px;
     font-size: 16px;
     color: #fff;
     transition: all ease .8s;
     cursor: pointer;
 }
 .product_images .nav-item:before {
     content: '';
     background-color: rgba(0, 0, 0, 0.5);
     display: none;
     position: absolute;
     width: 100%;
     height: 100%;
     transition: all ease .8s;
 }
 .product_images .nav-item:hover .remove_img, .product_images .nav-item:hover:before{
     display: block;
     transition:  all ease .8s;
 }

 .light-success-bg {
     background-color: #A0D9B4 !important;
 }

 .bg-info-light {
     background-color: #9AE8FF !important;
 }
 .bg-lightyellow {
     background-color: #ffe28c !important;
 }

 .light-danger-bg {
     background-color: #F1C8DB !important;
 }
 .bg-careys-pink {
     background-color: #CF9EAC !important;
 }

 .review-separator{
     border-top: 2px dotted #d2d7e2;
 }
.review-item{
    position: relative;
}
 .review-close{
     left: 45%;
     visibility: hidden;
     opacity: 0;
     transform: translateY(-10px);
     top: -10px;
     transition: all 0.5s;
     font-size: 24px;
     position: absolute;
 }
 .review-close:hover{
     cursor: pointer;
 }
 .review-item:hover .review-close{
     visibility: visible;
     opacity: 1;
     transform: translateY(0);
 }
 .review-item:hover{
     /*background: rgba(211, 208, 210, 0.8);*/
 }
 .review-status{
     position: absolute;
     left: 75%;
 }
 .badge.rounded-pill{padding-right:.6em;padding-left:.6em}.badge-soft-primary{color:#3bafda;background-color:rgba(59,175,218,.18);box-shadow:none}.badge-soft-secondary{color:#6c757d;background-color:rgba(108,117,125,.18);box-shadow:none}.badge-soft-success{color:#1abc9c;background-color:rgba(26,188,156,.18);box-shadow:none}.badge-soft-info{color:#37cde6;background-color:rgba(55,205,230,.18);box-shadow:none}.badge-soft-warning{color:#f7b84b;background-color:rgba(247,184,75,.18);box-shadow:none}.badge-soft-danger{color:#f1556c;background-color:rgba(241,85,108,.18);box-shadow:none}.badge-soft-light{color:#f1f5f7;background-color:rgba(241,245,247,.18);box-shadow:none}.badge-soft-dark{color:#323a46;background-color:rgba(50,58,70,.18);box-shadow:none}.badge-soft-pink{color:#f672a7;background-color:rgba(246,114,167,.18);box-shadow:none}.badge-soft-purple{color:#6559cc;background-color:rgba(101,89,204,.18);box-shadow:none}.badge-outline-primary{color:#3bafda;border:1px solid #3bafda;background-color:transparent;box-shadow:none}.badge-outline-secondary{color:#6c757d;border:1px solid #6c757d;background-color:transparent;box-shadow:none}.badge-outline-success{color:#1abc9c;border:1px solid #1abc9c;background-color:transparent;box-shadow:none}.badge-outline-info{color:#37cde6;border:1px solid #37cde6;background-color:transparent;box-shadow:none}.badge-outline-warning{color:#f7b84b;border:1px solid #f7b84b;background-color:transparent;box-shadow:none}.badge-outline-danger{color:#f1556c;border:1px solid #f1556c;background-color:transparent;box-shadow:none}.badge-outline-light{color:#f1f5f7;border:1px solid #f1f5f7;background-color:transparent;box-shadow:none}.badge-outline-dark{color:#323a46;border:1px solid #323a46;background-color:transparent;box-shadow:none}.badge-outline-pink{color:#f672a7;border:1px solid #f672a7;background-color:transparent;box-shadow:none}.badge-outline-purple{color:#6559cc;border:1px solid #6559cc;background-color:transparent;box-shadow:none}.badge-outline-light,.badge-soft-light{color:#323a46}.bg-soft-primary{background-color:rgba(59,175,218,.25)!important}.bg-soft-secondary{background-color:rgba(108,117,125,.25)!important}.bg-soft-success{background-color:rgba(26,188,156,.25)!important}.bg-soft-info{background-color:rgba(55,205,230,.25)!important}.bg-soft-warning{background-color:rgba(247,184,75,.25)!important}.bg-soft-danger{background-color:rgba(241,85,108,.25)!important}.bg-soft-light{background-color:rgba(241,245,247,.25)!important}.bg-soft-dark{background-color:rgba(50,58,70,.25)!important}.bg-soft-pink{background-color:rgba(246,114,167,.25)!important}.bg-soft-purple{background-color:rgba(101,89,204,.25)!important}.bg-ghost{opacity:.4}
 .form-wizard-header .nav-item {
     max-width: 400px;
 }
 .preview__avatar {
    max-width: 150px;
 }
 .settings .preview__avatar {
     width: 100px;
     height: auto;
     border: none !important;
 }


 element.style {
 }
 .table>thead {
     vertical-align: bottom;
 }
 .table-light {
     --bs-table-bg: #f1f5f7;
     --bs-table-striped-bg: #343a40;
     --bs-table-striped-color: #fff;
     --bs-table-active-bg: #dee2e5;
     --bs-table-active-color: #343a40;
     --bs-table-hover-bg: #e3e7e9;
     --bs-table-hover-color: #343a40;
     color: #343a40;
     border-color: #dee2e5;
 }
 .min-height-note-block {
     min-height: 100px;
 }
 .row-field {
     border: 1px solid #CCC;
     margin-bottom: 10px;
     -moz-border-radius: 3px 3px 0 0;
     -khtml-border-radius: 3px 3px 0 0;
     -webkit-border-radius: 3px 3px 0 0;
     -o-border-radius: 3px 3px 0 0;
     border-radius: 3px 3px 0 0;
 }
 .row-field .row-heading {
     background: #EEE;
     position: relative;
     font-weight: 700;
     border-bottom: 1px solid #ccc;
     color: #0D638F;
     padding: 6px 10px;
     -moz-border-radius: 3px 3px 0 0;
     -khtml-border-radius: 3px 3px 0 0;
     -webkit-border-radius: 3px 3px 0 0;
     -o-border-radius: 3px 3px 0 0;
     border-radius: 3px 3px 0 0;
 }
 .row-field .coltrols, .row-field .controls {
     background: #fff;
     padding: 10px;
 }
 fieldset.submit-buttons {
     background: #EEE;
     text-align: center;
     border: none;
     margin: 10px 0 0;
     padding: 10px;
 }
 .email_standard {
     background-color: #ccc;
     float: left;
     width: 28%;
     margin: 10px 10px 0 0;
     padding: 10px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .email_standard a{
     color: #105289;
 }
 input.full, textarea.full {
     width: 100%;
     padding: 5px 6px;
 }
 table.form td.fieldarea {
     background-color: #efefef;
     text-align: left;
 }
.label_img{
    overflow: hidden;
    line-height: 35px;
    padding-top: 0;
    padding-bottom: 0;
}
 @media (min-width: 768px) {
     .w-md-20{
         width: 20%;
     }
 }
 @media (max-width: 767px) {
     .full_width_767 {
         width: 100%!important;
     }
 }