 .splide__slide img {
     width: 100%;
 }
 
 #thumbnail-slider .splide__slide {
     padding: 4px;
     margin: 0 7px;
     opacity: 0.5;
 }
 
 #thumbnail-slider .splide__slide img {
     background-color: #f1f5f7;
     display: block !important;
 }
 
 #thumbnail-slider .splide__slide.is-active {
     opacity: 1;
 }


 .table-data td{
     vertical-align: middle;
     text-align: center;
 }

 .activeStatus, .activeAdmin{
     background: #d6f3ed;
     color: #1ac8ce;
     font-size: 11px;
     font-weight: bold;
     border-radius: 10px;
     padding-bottom: 3px;
     padding-left: 4px;
     padding-right: 4px;
 }

 .deactive{
     background: #fce0e4;
     color: #f58c75;
     font-size: 11px;
     font-weight: bold;
     border-radius: 10px;
     padding-bottom: 3px;
     padding-left: 4px;
     padding-right: 4px;
 }

 .img__table{
     width: 40px;
     height: 60px;
     object-fit: cover;
     object-position: center;
 }
 .btnMove{
     border-radius: 50%;
     border: none;
     padding-top: 3px;
     font-size: 25px;
     padding-left: 7px;
     color: #2ea8e5;
 }
 .btnMove:hover{
     cursor: pointer;
 }
 .btnMove:focus{
     outline: 1px solid #1abc9c  ;
 }