 .splide__slide img {
     width: 100%;
 }
 
 #thumbnail-slider .splide__slide {
     padding: 4px;
     margin: 0 7px;
     opacity: 0.5;
 }
 
 #thumbnail-slider .splide__slide img {
     background-color: #f1f5f7;
     display: block !important;
 }
 
 #thumbnail-slider .splide__slide.is-active {
     opacity: 1;
 }


 .table-data td{
     vertical-align: middle;
     white-space: normal !important;
 }

 .activeStatus, .activeAdmin{
     background: #d6f3ed;
     color: #1ac8ce;
     font-size: 11px;
     font-weight: bold;
     border-radius: 10px;
     padding-bottom: 3px;
     padding-left: 4px;
     cursor: pointer;
     padding-right: 4px;
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
 }

 .deactive{
     cursor: pointer;
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
     background: #fce0e4;
     color: #f58c75;
     font-size: 11px;
     font-weight: bold;
     border-radius: 10px;
     padding-bottom: 3px;
     padding-left: 4px;
     padding-right: 4px;
 }

 .img__table{
     width: 60px;
     height: 80px;
     object-fit: contain;
 }
 .img__table__slide{
     object-fit: scale-down;
     object-position: center;
     width: 200px;
     height: 150px;
 }
 .btnMove, .btnMove-category{
     border-radius: 50%;
     border: none;
     padding-top: 3px;
     font-size: 25px;
     padding-left: 7px;
     color: #2ea8e5;
 }
 .btnMove-category:hover{
     cursor: pointer;
 }
 .btnMove:hover{
     cursor: pointer;
 }
 .btnMove:focus{
     outline: 1px solid #1abc9c  ;
 }
 .cursor_label label{
     cursor: pointer;
 }
.cursor{
    cursor: pointer;
}
.img_product{
    width: 120px;
    height: 120px;
}
 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* Firefox */
 input[type=number] {
     -moz-appearance: textfield;
 }
 .nav-tabs-detail .nav-item {
     min-width: 150px;
     text-align: center;
 }
 .product_images .nav-item {
     width: 120px;
     margin-right: 20px;
     margin-bottom: 20px;
 }
 .nav-user img{
     object-fit: cover;
     object-position: center;
 }
 .img__table__slide{
     width: 200px;
 }
 .remove_img {
     position: absolute;
     right: 5px;
     top: 5px;
     font-size: 16px;
     color: #fff;
     transition: all ease .8s;
     cursor: pointer;
 }
 .product_images .nav-item:before {
     content: '';
     background-color: rgba(0, 0, 0, 0.5);
     display: none;
     position: absolute;
     width: 100%;
     height: 100%;
     transition: all ease .8s;
 }
 .product_images .nav-item:hover .remove_img, .product_images .nav-item:hover:before{
     display: block;
     transition:  all ease .8s;
 }

 .light-success-bg {
     background-color: #A0D9B4 !important;
 }

 .bg-info-light {
     background-color: #9AE8FF !important;
 }
 .bg-lightyellow {
     background-color: #ffe28c !important;
 }

 .light-danger-bg {
     background-color: #F1C8DB !important;
 }
 .bg-careys-pink {
     background-color: #CF9EAC !important;
 }

 .review-separator{
     border-top: 2px dotted #d2d7e2;
 }
.review-item{
    position: relative;
}
 .review-close{
     left: 45%;
     visibility: hidden;
     opacity: 0;
     transform: translateY(-10px);
     top: -10px;
     transition: all 0.5s;
     font-size: 24px;
     position: absolute;
 }
 .review-close:hover{
     cursor: pointer;
 }
 .review-item:hover .review-close{
     visibility: visible;
     opacity: 1;
     transform: translateY(0);
 }
 .review-item:hover{
     /*background: rgba(211, 208, 210, 0.8);*/
 }
 .review-status{
     position: absolute;
     left: 75%;
 }